<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/aboutus.css">
<%- include("partials/header2"); -%>

<section class="banner">
    <div class="container">
        <h2>Who we are</h2>
        <p class="heading">Developers, thinkers & collaborators</p>
    </div>
</section>

<%- include("partials/footer"); -%>