<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/forum.css">
<%- include("partials/header2"); -%>

<div class="container">
    <div class="col topics">
        <div class="heading">
            <h3>Topics</h3>
        </div>
        <ul>
            <a href="">
                <div class="topic">
                    <li>Web Development</li>
                </div>
            </a>
            <a href="">
                <div class="topic">
                    <li>App Development</li>
                </div>
            </a>
            <a href="">
                <div class="topic">
                    <li>Software Development</li>
                </div>
            </a>
        </ul>
    </div>
    <div class="col content">
        <% for(var i=result.length-1; i>=1; i--) { %>
            <div class="contents">
                <h3>
                    <%= result[i].title %>
                </h3>
                <p>
                    <%= result[i].content %>
                </p>
            </div>
        <%  } %>
    </div>
    <div class="col search">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon"/>
            <button type="button" class="btn btn-outline-primary">search</button>
            <div id="searchResults"></div>
        </div>
        <a href="/forum_add">
            <div class="add-button">
                <button type="button" class="btn btn-lg btn-primary">Add</button>
            </div>
        </a>
    </div>
</div>

