<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Hub</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="navbar">
    <h1 class="title"><a href="/">Student Hub</a></h1>
    <p><a href="/">Forum</a></p>
    <p><a href="/">About Us</a></p>
    <p><a href="/">Helpdesk</a></p>
    <form class="signup_signin" action="/signup" method="post">
        <button>New User/ Login</button>
    </form>
    </div>
    <!-- <form action="/signup" method="post">
        <button>Signup</button>
    </form>
    <form action="/signin" method="post">
        <button>Signin</button>
    </form> -->
</body>
</html>