<%- include("partials/header1"); -%>
      <link rel="stylesheet" href="/css/internship.css">
    </head>
    <body>
     <!----header-->
     <br>
     <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark">
            <a id="logo" class="navbar-brand" href="/">Student-Hub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-lg-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/helpdesk">Helpdesk</a>
                </li>
              </ul>
              <a href="/signup">
                <button type="button" class="btn btn-lg btn-success">Signup/ Login</button>
                </a>
            </div>
        </nav>
         
        <div class ="banner">
             <div class ="container">
                 <h1 class ="banner-title">
                     <span>Interview Experiences </span>
                     </h1>
                     <p>everything you want to know about job interviews</p>
                <form>
                    <input type = "text" class ="search-input"
                      placeholder = "find your way....">
                    <button type ="submit" class = "search-btn">
                     <i class = "fs fa-search"></i>
                 </button>
                 </form>
             </div>
         </div>
         </header>
         <center>
         
         <section class = "blog" id="blog">
             
             <div class ="container">
                 <div class ="title">
                     <centre>
                     <h1>
                         Latest blogs
                     </h1>
                     <p> recent blogs about interview experiences.

                     </p>
                     </centre>

                 </div>
                 <div class = "blog-content">
                     <div class = "blog-item">
                         <img src ="/images/internship_bg.jpg" alt ="" width="50" height="200">
                         <span><i class ="fart fa-heart"></i>22</span>
                         <span>Likes</span>
                        

                     
                     <div class ="blog-text">
                         <span> 20 january, 2021</span>
                          <h2>lorem jjhkjk kjkjkj jkjsksss hdnlaknd tab</h2>
                          <p>Lorem ipsum dolor sit amet consectetur 
                              adipisicing elit. 
                              Nesciunt, obcaecati assumenda fugit accusamus aperiam ipsam?</p>
                          
                           
                              <a href ="#"> Read more</a>
                              </div>
                            </div>

                        
                       
                    
                            <div class = "blog-item">
                                <img src ="/images/internship_bg.jpg" alt ="" width="50" height="200">
                                <span><i class ="fart fa-heart"></i>22</span>
                                <span>Likes</span>
                            
       
                            
                            <div class ="blog-text">
                                <span> 20 january, 2021</span>
                                 <h2>lorem jjhkjk kjkjkj jkjsksss hdnlaknd tab</h2>
                                 <p>Lorem ipsum dolor sit amet consectetur 
                                     adipisicing elit. 
                                     Nesciunt, obcaecati assumenda fugit accusamus aperiam ipsam?</p>
                                 
                                  
                                     <a href ="#"> Read more</a>
                                     </div>
                                    </div>
                             
                               

                               
                                <div class = "blog-item">
                                    <img src ="/images/internship_bg.jpg" alt ="" width="50" height="200">
                                    <span><i class ="fart fa-heart"></i>22</span>
                                    <span>Likes</span>
                                
           
                                
                                <div class ="blog-text">
                                    <span> 20 january, 2021</span>
                                     <h2>lorem jjhkjk kjkjkj jkjsksss hdnlaknd tab</h2>
                                     <p>Lorem ipsum dolor sit amet consectetur 
                                         adipisicing elit. 
                                         Nesciunt, obcaecati assumenda fugit accusamus aperiam ipsam?</p>
                                     
                                      
                                         <a href ="#"> Read more</a>
                                         </div>
                                        </div>
                                         
           
                                   
                                   
                                    <div class = "blog-item">
                                        <img src ="/images/internship_bg.jpg" alt ="" width="50" height="200">
                                        <span><i class ="fart fa-heart"></i>22</span>
                                        <span>Likes</span>
                                    
               
                                    
                                    <div class ="blog-text">
                                        <span> 20 january, 2021</span>
                                         <h2>lorem jjhkjk kjkjkj jkjsksss hdnlaknd tab</h2>
                                         <p>Lorem ipsum dolor sit amet consectetur 
                                             adipisicing elit. 
                                             Nesciunt, obcaecati assumenda fugit accusamus aperiam ipsam?</p>
                                         
                                          
                                             <a href ="#"> Read more</a>
                                             </div>
                                     
                                            </div>
                                       
                                        <div class = "blog-item">
                                            <img src ="/images/internship_bg.jpg" alt ="" width="50" height="200">
                                            <span><i class ="fart fa-heart"></i>22</span>
                                            <span>Likes</span>
                                        
                   
                                        
                                        <div class ="blog-text">
                                            <span> 20 january, 2021</span>
                                             <h2>lorem jjhkjk kjkjkj jkjsksss hdnlaknd tab</h2>
                                             <p>Lorem ipsum dolor sit amet consectetur 
                                                 adipisicing elit. 
                                                 Nesciunt, obcaecati assumenda fugit accusamus aperiam ipsam?</p>
                                             
                                              
                                                 <a href ="#"> Read more</a>
                                                 </div>
                                                </div>     
                                            </div>
             </div>
                 </div>

             </div>
             <button class= "write"> Add you own Interview Experience</button>
             
         </section>

         </center>



    </body>
</html>