<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/internship.css">
<%- include("partials/header2"); -%>

<div class="container">
    <!-- Write your HTML here. -->
</div>

<%- include("partials/footer"); -%>