<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/resources.css">
<%- include("partials/header2"); -%>

<div class="container">
    <div class="col content">
      <%for(var i=result.length-1; i>=0; i--) { %>
        <a href="/resources">
          <div class="card text-white mb-3" style="max-width: 15rem;">
              <div class="card-header"><%= result[i].title %></div>
              <div class="card-body">
                <p class="card-text"><%= result[i].content %></p>
              </div>
            </div>
        </a>
      <%  } %>
    </div>
    <div class="col search">
        <form action="/resources" method="post">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
        </div>
        </form>
        <p class="search-guide"><em>Search articles, tags or names</em></p>
        <div class="popular-topics">
            <div>
                <h5>Popular Topics</h5>
            </div>
            <ul>
                <a class="popular-list" href="">CP</a>
                <a class="popular-list" href="">ML</a>
                <a class="popular-list" href="">Robotics</a>
            </ul>
        </div>
        <div class="article-options">
            <a class="article-option" href="">My Article</a>
            <a class="article-option" href="">Bookmarked Articles</a>
            <a href="/resources/write">
              <div class="add-button">
                <button type="button" class="btn btn-lg btn-primary">Write</button>
              </div>
            </a>
        </div>
    </div>
</div>