<%- include("partials/header1"); -%>
<link rel="stylesheet" href="/css/resources.css">
<%- include("partials/header2"); -%>

<div class="container">
    <!-- Write your code here -->
</div>

<%- include("partials/footer"); -%>