a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo {
    color: white;
}

.navbar {
    padding:  3% 5% ;
}

.navbar-brand {
    font-size: 2.5em;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .active .nav-link {
    color: turquoise;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 2% 8%;
    background-color: turquoise
}






*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
  
  height: 150vh;
  align-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e1e99b, #70e9a6) no-repeat;
}

.container{
    max-width: 700px;
    width: 70%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin-top: 4%;
    margin-bottom: 5%;
    align-content: center;
    align-items: center;
}
.container .title{
    font-size: 60px;
    font-weight: 500;
    position:relative;

}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 40px;
    background: linear-gradient( #e1e99b, #70e9a6);
}


form .user-details .input-box{
    margin-bottom: 5px;
    width: calc(100% / 2 - 20px);
}


 .user-details .input-box .details{
     display: block;
     font-size: 40px;
     font-weight: 500;
     margin-bottom: 2px;
 }
 
 .user-details .input-box input{
     height: 55px;
     width: 300px;
     outline: none;
     border-radius: 5px;
     border: 1px solid #ccc;
     font-size: 20px;
     border-bottom-width: 2px;
     transition: all 0.3s ease;


 }

 .user-details .input-box input:focus,
 .user-details .input-box input:valid{
    border-color:#a1e99b;
 }

  button {
     height: 60px;
     width: 100%;
     outline: none;
     color: #0f0f0f;
     border: none;
     font-size: 18px;
     font-weight:500;
     border-radius: 5px;
     letter-spacing: 1px;
     background: linear-gradient(135deg, #e1e99b, #70e9a6);
     }

  button:hover{
    background: linear-gradient(-135deg, #e1e99b, #70e9a6);
  }





 @media(max-width: 992px){
    body {
  
        height: 100%;}
    .container{
        max-width: 100%;}

        form .user-details .input-box{
            margin-bottom: 15px;
            width: 100%;
        }
       
    
 }




